{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<nav>
  <ul class="pager">
    {{ if .Paginator.HasNext }}
    <li class="pull-left "><a href="{{ .URL }}page/{{ .Paginator.Next.PageNumber }}">Older</a></li>
    {{ else }}
    <li class="pull-left disabled"><a href="#">Older</a></li>
    {{ end }}

    {{ if .Paginator.HasPrev }}
    <li class="pull-right"><a href="{{ .URL }}page/{{ .Paginator.Prev.PageNumber }}">Newer</a></li>
    {{ else }}
    <li class="pull-right disabled"><a href="#">Newer</a></li>
    {{ end }}
  </ul>
</nav>
{{ end }}
